server:
  port: 9917

spring:
  application:
    name: Orchestrator
  ai:
    mcp:
      client:
        enabled: true
        name: AscendAI-Orchestrator
        version: 0.0.1
        request-timeout: 30s

        type: SYNC

        toolcallback:
          enabled: true

        sse:
          connections:
            openmemory:
              url: http://localhost:8765
              sse-endpoint: /mcp/ascendai/sse/user1
    #        streamable-http:
    #          connections:
    #            openmemory:
    #              url: http://localhost:8000/mcp/messages

        stdio:
          servers-configuration: classpath:mcp-servers-config.json

    openai:
      api-key: "not-needed" # Not required for local LM Studio
      chat:
        options:
          model: "meta-llama-3.1-8b-instruct" # The exact model ID to be used
          temperature: 0.7
          max-tokens: -1
        base-url: "http://127.0.0.1:1234"

logging:
  level:
    org.springframework.ai: DEBUG
    org.springframework.ai.mcp: DEBUG
    org.springframework.ai.tool: DEBUG
    org.springframework.ai.mcp.client.autoconfigure: DEBUG
    org.springframework.core.io: DEBUG
    io.modelcontextprotocol.client: DEBUG
    io.modelcontextprotocol.spec: DEBUG

    org.springframework.web.client: DEBUG
    org.apache.http: DEBUG
